{% extends 'base.html' %}
{% load static %}
{% block title %}End Ride{% endblock %}

{% block content %}
{% include 'core/neon_theme.html' %}
<div class="container-fluid text-center">
    <div class="mb-3">
        <p>Do you want to end this ride?</p>
        <p>Net Fare: {{ booking.booking_driver_side.net_fare }} Taka</p>
        <form action="" method="post">
            {% csrf_token %}
            <a href="{% url 'home' %}" class="btn btn-primary">Go to home</a>
            <button type="submit" class="btn btn-primary">End Ride</button>
        </form>
    </div>
</div>
{% endblock %}