{% extends 'base.html' %}
{% load static %}
{% block title %}The Payments{% endblock %}

{% block content %}
{% include 'core/neon_theme.html' %}
<div class="container mx-auto">

  {% if payments %}

    {% if not pending_exists %}
      <div class="message info">No pending payments</div>
    {% endif %}

    {% for payment in payments %}
      <div class="card p-4 mb-3" style="width: 80%;">
        <div class="card-body">
          <h5 class="card-title">{{ payment.booking_user_side.pickup_location }} -- {{ payment.booking_user_side.dropoff_location }}</h5>
          <p class="card-text">To pay: {{ payment.to_pay }} Taka</p>
          {% if not payment.status %}
            <span class="badge bg-danger">Not Paid</span>
            <div class="md-3 p-3">
              <a href="{% url 'booking_n_service:pay_payment' payment.id %}" class="card-link btn btn-primary">Pay</a>
            </div>
          {% else %}
            <span class="badge bg-success">Paid</span>
          {% endif %}

          <div class="md-3 p-3">
            <a href="{% url 'support_n_notification:give_review' payment.booking_user_side.id %}" class="card-link btn btn-secondary">Review</a>
          </div>

        </div>
      </div>
    {% endfor %}

  {% else %}
    <div class="message info">No pending payments</div>
  {% endif %}

</div>
{% endblock %}

