{% extends 'base.html' %}

{% block title %}User Registration{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="InputUsername1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="InputUsername1">
        </div>
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="InputEmail1">
        </div>
        <div class="mb-3">
            <label for="InputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="InputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

{% endblock %}